
/* codes posters */
#poster {
  width: 90%;
  border-radius: 5px;
}

/* container divs */
.cd {
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 80%;
  height: 70%;
  text-align:center;
  transition: 2s;
}

.cd:hover {
  position: relative; bottom: 10px;
  transition-duration: 2s;
}

/* get codes buttons */
#cd {
  background-color: #0437F2;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  border: solid white;
  border-radius: 5px;
  padding: 5px;
}

/* codes div */
.code {
  background-color: #202020;
  padding: 10px;
  border-radius: 5px;
  
}

#preBtn {
  background-color: #212121;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 50px;
  color: white;
  text-decoration: none;
}

#preBtn:active {
  background-color: black;
}
